<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Kötelező munka óra módosítása</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeWithOutSave()">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="editWorkForm">
        <div class="form-group">
            <label for="obWork">Munka óra szám</label>
            <input id="obWork" class="form-control" type="text" placeholder="Add meg a kötelező óraszámot"
                formControlName="workTime">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary" [disabled]="!editWorkForm.valid" (click)="submitForm(editWorkForm.value)">Mentés</button>
</div>