<!-- New event add section -->
<div>
    <form [formGroup]="createEventForm" (ngSubmit)="submitNewEvent(createEventForm.value)" >
        <div class="form-group">
            A mai nap dátuma: {{ currentDate }}
        </div>
        <div class="form-group">
            <label for="eventType">Esemény típus</label>
            <select class="form-control" id="eventType" formControlName="eventType" required>
                <option value="null" selected disabled hidden>Kérjük válasszon</option>
                <option *ngFor="let eventType of eventTypeOptions | keyvalue" value="{{eventType.key}}">{{eventType.value}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="time">Időtartam (óra:perc)</label>
            <input type="text" class="form-control" id="time" placeholder="Időtartam (óra:perc)" formControlName="time" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12" [disabled]="!createEventForm.valid">Mentés</button>
        </div>
    </form>
</div>