<!-- New event add section -->
<div *transloco="let t">
    <form [formGroup]="createEventForm" (ngSubmit)="submitNewEvent(createEventForm.value)" >
        <div class="form-group">
            <div class="input-group">
                <input class="form-control"
                    placeholder="{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_DATE_PLACEHOLDER_LABEL') }}" name="d1"
                    ngbDatepicker #d1="ngbDatepicker" formControlName="createdDateTime" [maxDate]="maxDate" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="eventType">{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_TYPE_LABEL') }}</label>
            <select class="form-control" id="eventType" formControlName="eventType" required>
                <option value="null" selected disabled hidden>{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_TYPE_DEFAULT_PLACEHOLDER_LABEL') }}</option>
                <option *ngFor="let eventType of eventTypeOptions | keyvalue" value="{{eventType.key}}">{{ t('EVENTS.EVENT_TYPES.' + eventType.value) }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="time">{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_TIME_LABEL') }}</label>
            <input type="text" class="form-control" id="time" placeholder="{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_TIME_PLACEHOLDER_LABEL') }}" formControlName="time" required>
            <div class="text-center" *ngIf="createEventForm.controls.time.hasError('pattern')">
                <span class="text-danger">{{ t('EVENTS.MODALS.CREATE_EDIT.EVENT_TIME_ERROR_TEXT') }}</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12" [disabled]="!createEventForm.valid">
                {{ t('EVENTS.MODALS.CREATE_EDIT.BTN_SAVE_LABEL') }}
            </button>
        </div>
    </form>
</div>
