.event-type-1 {
    background-color: #80DEEA;
}

.event-type-2 {
    background-color: #C5E1A5;
}

.event-type-3 {
    background-color: #FFF59D;
}

.event-type-4 {
    background-color: #9FA8DA;
}

.event-type-5 {
    background-color: #FFAB91;
}

table tr td { font-size: 1.5vw; }
table thead tr th { font-size: 1.5vw; }
table tfoot tr th { font-size: 1.5vw; }