<!-- Quick event statistics -->
<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#quickFilterStatistics"
            aria-expanded="false" aria-controls="quickFilterStatistics">
            Szűrt adatok statisztikája
        </button>
    </div>

    <div class="collapse" id="quickFilterStatistics">
        <div class="card card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Vezetés és egyéb munka összesen:</td>
                            <td>0 óra</td>
                            <td>0 perc</td>
                        </tr>
                        <tr>
                            <td>Vezetés összesen:</td>
                            <td>0 óra</td>
                            <td>0 perc</td>
                        </tr>
                        <tr>
                            <td>Egyéb munka összesen:</td>
                            <td>0 óra</td>
                            <td>0 perc</td>
                        </tr>
                        <tr>
                            <td>Készenlét összesen:</td>
                            <td>0 óra</td>
                            <td>0 perc</td>
                        </tr>
                        <tr>
                            <td>Fizetett szabadság összesen:</td>
                            <td>0 óra</td>
                            <td>0 perc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>