<div *transloco="let t">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ t('OBWORK.DELETE_OBWORK.TITLE') }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeWithOutSave()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <p> {{ t('OBWORK.DELETE_OBWORK.SENTENCE_TEXT') }} </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" (click)="delete(data)">{{ t('OBWORK.DELETE_OBWORK.BTN_ACCEPT_LABEL') }}</button>
        <button type="button" class="btn btn-outline-dark" (click)="closeWithOutSave()">{{ t('OBWORK.DELETE_OBWORK.BTN_CANCEL_LABEL') }}</button>
    </div>
</div>