<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-md-4 align-self-center">Dátum: {{ timeData?.date }}</div>
            <div class="col-12 col-md-4 align-self-center">
                Kötelező idő: {{ timeData?.obTime }}
            </div>
            <div class="col-12 col-md-4 text-center text-sm-right align-self-center mt-2 mt-md-0">
                <button class="btn btn-primary" (click)="editMonth(monthData)">Módosítás</button>
            </div>
        </div>
    </div>
</div>