<div class="card mb-3">
    <div class="card-header clickable" role="button" data-toggle="collapse" attr.data-target="#workTimeDetails{{ monthData?.id }}" aria-expanded="false" attr.aria-controls="workTimeDetails{{ monthData?.id }}">
        <div class="row">
            <div class="col float-sm-left">Dátum: {{ timeData?.date }}</div>
            <div class="col float-sm-right text-sm-right">
                Eltérés: <span [ngClass]="((monthData?.obWorkTime - monthData?.currentWorkTime) >= 0)? 'text-success':'text-danger'" >{{ timeData?.difference }}</span>
            </div>
        </div>
    </div>
    <div class="collapse" id="{{ 'workTimeDetails' + monthData?.id}}">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="true"
                        [chartType]="barChartType"></canvas> 
                </div>
                <div class="col-12 col-md-8">
                    <div>
                        <p>Kötelező munkaórák száma: {{ timeData?.obTime }} óra</p>
                        <p>Jelenlegi munkaórák száma: {{ timeData?.currentTime }}</p>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary" (click)="editMonth(timeData)">Módosítás</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>