<div *transloco="let t">
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <button class="btn btn-outline-primary col-12 col-sm-4 mr-sm-2 mt-2 mt-sm-0" type="button" (click)="addNewEvent()">
                    {{ t('EVENTS.CREATE_EVENT') }}
                </button>
                <button class="btn btn-outline-primary col-12 col-sm-4 mt-2 mt-sm-0" type="button" data-toggle="collapse"
                    data-target="#quickFilterStatistics" aria-expanded="false" aria-controls="quickFilterStatistics">
                    {{ t('EVENTS.QUICK_STATISTICS.TITLE') }}
                </button>
            </div>
        </div>
        <div class="collapse" id="quickFilterStatistics">
            <div class="card-body">
                <app-quick-filtered-statistics></app-quick-filtered-statistics>
            </div>
        </div>
    </div>
</div>
<app-event-list></app-event-list>