<div *transloco="let t">
    <div class="card mb-3">
        <div class="card-header">
            <button class="btn btn-outline-primary col-12 col-sm-4 mr-sm-2 mt-2 mt-sm-0" type="button" (click)="addMonth()">
                {{ t('OBWORK.NEW_OBWORK.TITLE') }}
            </button>
            <app-pdf-export 
                class="btn btn-outline-info col-12 col-sm-4 mr-sm-2 mt-2 mt-sm-0"
                [importData]="exportableData"
            >
            </app-pdf-export>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            {{ t('OBWORK.LIST_OBWORK.TITLE') }}
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <form class="col-sm-12 col-md-6" [formGroup]="yearPickerForm">
                    <div class="form-group">
                        <label for="showYear">{{ t('OBWORK.LIST_OBWORK.FORM.YEAR_PICK_LABEL') }}</label>
                        <select class="form-control" id="showYear" formControlName="year" required>
                            <option value="null" selected disabled hidden>{{ t('OBWORK.LIST_OBWORK.FORM.DEFAULT_OPTION') }}</option>
                            <option *ngFor="let year of filterYearList" value="{{ year }}">{{ year }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row justify-content-end">
                <div class="col col-md-4">
                    <app-order-selector [orderOptions]="orderOptionList" (selectedOrderMode)="selectedOrder($event)"></app-order-selector>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <app-work-times-item *ngFor="let monthItem of workTimesList | orderWorkByDate: orderOpt" [monthData]="monthItem"></app-work-times-item>
        </div>
    </div>
</div>