<app-topbar (isToggled)="isSidebarOpened($event)"></app-topbar>

<div id="wrapper" #toggableSidebar >

    <app-sidebar class="sidebar"></app-sidebar>

    <div id="content-wrapper">
        <app-toast aria-live="polite" aria-atomic="true"></app-toast>

        <div class="container-fluid">

            <app-breadcumb></app-breadcumb>
            <router-outlet></router-outlet>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->