<div [formGroup]="dateTimeOuterPickerForm" class="input-group mr-2">
  <input
    [ngClass]="
      dateTimeOuterPickerForm.controls.createdDateTime?.valid
        ? 'ng-valid'
        : 'ng-invalid'
    "
    class="form-control"
    formControlName="createdDateTime"
    placeholder="Dátum idő"
  />

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      [ngbPopover]="calendarContent"
      [autoClose]="'outside'"
      [disabled]="disabled"
      (hidden)="onDatePickerPopoverClose()"
      type="button"
      #timePickerPopOver="ngbPopover"
    >
      <i class="far fa-calendar-alt"></i>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <form [formGroup]="dateTimeInnerPickerForm">
    <ngb-datepicker
      formControlName="datePicker"
      [startDate]="startDate"
    >
    </ngb-datepicker>

    <div class="row justify-content-center mx-0 mt-3">
      <ngb-timepicker
        formControlName="timePicker"
      >
      </ngb-timepicker>
    </div>

    <div class="my-2">
      <button
        class="btn btn-primary col-12"
        (click)="timePickerPopOver.close()"
        [disabled]="dateTimeInnerPickerForm.invalid"
      >
        Ok
      </button>
    </div>
  </form>
</ng-template>
